USE [HR]
GO
/****** Object:  Table [dbo].[PendingHire]    Script Date: 11/2/2015 11:54:07 AM ******/
DROP TABLE [dbo].[PendingHire]
GO
/****** Object:  Table [dbo].[PendingHire]    Script Date: 11/2/2015 11:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendingHire](
	[PendingHireId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Title] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[SSN] [nvarchar](50) NULL,
	[CandidateUri] [nvarchar](max) NULL,
	[ResourceUri] [nvarchar](max) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[Manager] [nvarchar](50) NULL,
	[CompanyCode] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_PendingHire] PRIMARY KEY CLUSTERED 
(
	[PendingHireId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[PendingHire] ON 

INSERT [dbo].[PendingHire] ([PendingHireId], [FirstName], [MiddleName], [LastName], [Title], [Department], [SSN], [CandidateUri], [ResourceUri], [EmailAddress], [Manager], [CompanyCode], [PhoneNumber]) VALUES (1, N'Phillip', NULL, N'Lefebvre', NULL, NULL, NULL, N'https://api.icims.com/customers/4167/people/12386', NULL, N'plefebvre33@gmail.com', NULL, NULL, N'919-740-4250')
INSERT [dbo].[PendingHire] ([PendingHireId], [FirstName], [MiddleName], [LastName], [Title], [Department], [SSN], [CandidateUri], [ResourceUri], [EmailAddress], [Manager], [CompanyCode], [PhoneNumber]) VALUES (2, N'Alexander', NULL, N'Ortiz', NULL, NULL, NULL, N'https://api.icims.com/customers/4167/people/11914', NULL, N'alexander.ortiz1948@gmail.com', NULL, NULL, N'3015262331')
INSERT [dbo].[PendingHire] ([PendingHireId], [FirstName], [MiddleName], [LastName], [Title], [Department], [SSN], [CandidateUri], [ResourceUri], [EmailAddress], [Manager], [CompanyCode], [PhoneNumber]) VALUES (3, N'Chartese', NULL, N'Brent', NULL, NULL, NULL, N'https://api.icims.com/customers/4167/people/12217', NULL, N'chartesebrent@yahoo.com', NULL, NULL, N'571-316-8413')
SET IDENTITY_INSERT [dbo].[PendingHire] OFF
